DATABASE_URL="postgresql://user:password@localhost:5432/database?schema=public"

POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="database"
POSTGRES_PORT="5432"

JWT_SECRET="your-secret"
JWT_REFRESH_EXPIRES_IN="7d"

GOOGLE_PLAY_PACKAGE_NAME="com.proxalert.app"
GOOGLE_PLAY_SERVICE_ACCOUNT_EMAIL="service-account@project.iam.gserviceaccount.com"
GOOGLE_PLAY_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_PLAY_PREMIUM_PRODUCT_ID="proxalert_premium"

APPLE_BUNDLE_ID="com.proxalert.app"
APPLE_ISSUER_ID="your-issuer-id"
APPLE_KEY_ID="your-key-id"
APPLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
APPLE_ENVIRONMENT="sandbox"
APPLE_PREMIUM_PRODUCT_ID="proxalert_premium"
