# dependencies
node_modules/

# build
dist/
build/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# environment variables
.env
.env.*
!.env.example

# Docker local
docker-compose.yml
docker-compose.override.yml
docker-data/
postgres-data/

# Prisma local files
prisma/dev.db
prisma/dev.db-journal

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# coverage
coverage/

# cache
.cache/
.temp/
.tmp/